.itemform{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 8px;
    
    label{
        text-align: left;
    }
    input{
        height: 50px;
        border: solid lightgray 1px;
        border-radius: 10px;
       
        color-scheme: light;
    }
    button{
        margin-top: 8px;
    }
    

}