
main{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius:14px ;
    width: 250px;
}

form{
    margin: 0px;
    input{
        margin: 0px;
    }
}
ul{
    list-style: none;
    padding: 0;
   
    flex-direction: column;
    li{
        display: flex;
        p{
            min-width: 70%;
            
            text-align: left;
        }
        input{
            border: none;
            padding: 10px;
           
            
            
           
        }
        .itemlistcount{
           max-width: 20%;
          
        }
       
    }
}